{% extends 'base.html' %}

{# Nasconde la navbar #}
{% block navbar %}{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-5">
        <div class="card bg-white p-5 rounded-4 shadow-sm border-0 text-center">
            <h2 class="fw-bold mb-3">Recupero Password</h2>
            <p class="text-muted small mb-4">Inserisci il tuo indirizzo email. Ti invieremo un link protetto per reimpostare la tua password.</p>
            
            <form method="POST">
                <div class="mb-4 text-start">
                    <input type="email" name="email" class="form-control form-control-lg bg-light border-0" placeholder="Inserisci la tua Email" required>
                </div>
                
                <button type="submit" class="btn btn-dark btn-lg w-100 mb-4 rounded-3">Invia Link di Ripristino</button>
                
                <div>
                    <a href="{{ url_for('gestione_utente.login') }}" class="text-dark text-decoration-none fw-bold small"><i class="bi bi-arrow-left"></i> Torna al Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}